[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm
[submodule "deps/cimplot"]
	path = deps/cimplot
	url = https://github.com/cimgui/cimplot
[submodule "deps/deps/cJSON"]
	path = deps/deps/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/cJSON"]
	path = deps/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "deps/pcg-c"]
	path = deps/pcg-c
	url = https://github.com/imneme/pcg-c
