name: valgrind

on: push

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
          submodules: true

      - name: Pull & update submodules recursively
        run: |
          git submodule update --init --recursive

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get -y -qq install valgrind

      - name: Build
        run: make callgrind

      - name: Run valgrind
        run: ./raytracer
